#home{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}